# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv
env/
venv/

# Environment variables
.env

# Build
build/
dist/

# IDE
.vscode/
.idea/

# Logs
logs/

# Output files
output/

# Cache
.pytest_cache/
.mypy_cache/